<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="ASPNETCORE_ENVIRONMENT" value="Testing" />
	</TestRunParameters>
	<RunConfiguration>
		<EnvironmentVariables>
			<ASPNETCORE_ENVIRONMENT>Testing</ASPNETCORE_ENVIRONMENT>
		</EnvironmentVariables>
	</RunConfiguration>
	<DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>cobertura</Format>
                    <ExcludeByFile>**/Migrations/**/*,**/src/API/**/*,**/BuildingBlocks/Tests/**/*</ExcludeByFile>
                </Configuration>
            </DataCollector>
        </DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
