<h2>@Model.Localizer["Hello, {0}", Model.FirstName]</h2>
<p>@Model.Localizer["You have requested a password reset for your account. Please click the button below to reset your password."]</p>
<a href="@Model.PasswordResetLink" target="_blank">@Model.Localizer["Set new password"]</a>
