<h2>@Model.Localizer["Hello, {0}", Model.Name]</h2>
<p>@Model.Localizer["You have requested new confirmation code for registration."]</p>
<p>@Model.Localizer["Your new confirmation code is '{0}'.", Model.ConfirmationCode]</p>
