<h2>@Model.Localizer["Hello, {0}", Model.Name]</h2>
<p>@Model.Localizer["You have successfully registered in our platform. Now you have to confirm your registration."]</p>
<p>@Model.Localizer["Your confirmation code is '{0}'.", Model.ConfirmationCode]</p>
